{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react" // Asegúrate de tener este preset si usas JSX
    ],
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx",
        {
          "pragma": "h",
          "pragmaFrag": "Fragment"
        }
      ]
    ]
  }
  